body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}
/* font-family: Arial, Helvetica, sans-serif;
  margin: 80px 100px;
}
h1 {
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  /* padding: 24px; */
/* }
h2 {
  font-weight: bold;
  font-size: 17px;
  line-height: 19px;
  margin: 28px 0px;
}
h3 {
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  margin: 28px 0px;
}
h4 {
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  margin: 28px 0px;
}
p {
  font-size: 11px;
  line-height: 23px;
} */
