* {
  box-sizing: border-box;
}
body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
p,
blockquote,
ol,
ul {
  width: 700px;
  margin: 0 auto;
}
p,
blockquote,
ol,
ul {
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 30px;
}
h1 + p {
  color: rgba(0, 0, 0, 0.4);
}
a {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin: 50px auto;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 42px;
}
h3 {
  font-size: 42px;
  line-height: 32px;
  margin-top: 36px;
}
h4 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 32px;
}
h5 {
  font-size: 22px;
  line-height: 24px;
  margin-top: 28px;
}
h2 + p h3 + p h4 + p h5 + p {
  margin-top: 10px;
}
img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}
ul {
  list-style-type: square;
  padding-left: 26px;
}
ol {
  list-style-type: decimal;
  padding-left: 26px;
}
blockquote {
  font-style: italic;
  position: relative;
}
blockquote::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: -20px;
}
/* font-family: Arial, Helvetica, sans-serif;
  margin: 80px 100px;
}
h1 {
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  /* padding: 24px; */
/* }
h2 {
  font-weight: bold;
  font-size: 17px;
  line-height: 19px;
  margin: 28px 0px;
}
h3 {
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  margin: 28px 0px;
}
h4 {
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  margin: 28px 0px;
}
p {
  font-size: 11px;
  line-height: 23px;
} */
